footer, .header {
  background: rgb(92, 9, 121);
  background: linear-gradient(90deg, rgb(92, 9, 121) 42%, rgb(223, 0, 255) 100%);
}

main {
  background: rgb(88, 69, 96);
  background: linear-gradient(90deg, rgb(88, 69, 96) 25%, rgb(80, 65, 84) 53%, rgb(73, 45, 77) 100%);
}

:root {
  --color_primario: #8527c3fd;
  --color_primario_suave: #8527c383;
  --color_blanco: #fff;
  --altura_header: 100px;
  --padding_left_right: 2rem;
  --ancho_maximo: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  background-color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  height: var(--altura_header);
}
.header .navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 var(--padding_left_right);
}
.header .menu_hamburguesa {
  display: none;
}
.header .menu_hamburguesa:checked + .ul_links {
  height: calc(100vh - var(--altura_header));
  z-index: 1;
}
.header .logo {
  color: var(--color_blanco);
  font-weight: bold;
}
.header .list_icon {
  color: var(--color_blanco);
  cursor: pointer;
}
.header .ul_links {
  width: 100%;
  background-color: var(--color_primario);
  position: absolute;
  top: var(--altura_header);
  left: 0;
  height: 0;
  overflow: hidden;
  /* height: calc(100vh - var(--altura_header)); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: all 0.3s;
}
.header .link {
  font-size: 3rem;
  font-weight: bold;
  color: beige;
}

main .producto img {
  height: 200px;
  width: 200px;
  margin: 20px;
  border: solid 2px;
}
main .imagenesProd {
  display: flex;
  justify-content: center;
  padding: 30px;
}
main .card {
  margin: 25px;
  z-index: 0;
  display: flex;
  justify-content: center;
}
main .card:hover {
  background-color: #125875;
  box-shadow: 0px 10px 10px #125875;
}
main .card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px;
}

footer {
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
footer .social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
footer .social .redes {
  width: 25px;
  height: 25px;
  border-radius: 15px;
}

.nosotres {
  display: flex;
  height: 100%;
  width: 100%;
  color: pink;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.nosotres h2 {
  text-align: center;
  padding: 20px;
  color: hotpink;
}
.nosotres .general {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.nosotres .general .mapa {
  padding: 40px;
  display: flex;
}
.nosotres .quienes {
  text-align: justify;
  padding: 30px;
}
.nosotres .somos {
  text-align: justify;
  padding: 30px;
}

@media (min-width: 768px) {
  header .labe_hamburguesa {
    display: none;
  }
  header .ul_links {
    display: flex !important;
    position: static !important;
    width: auto !important;
    height: auto !important;
    flex-direction: row !important;
    gap: 2rem !important;
    background: none !important;
  }
  header .ul_links .link {
    font-size: 1.5rem !important;
    transition: all 0.3s !important;
    margin: 0 10px 0 10px !important;
  }
  header .ul_links .link:hover {
    background-color: violet !important;
    padding: 0.2rem 0.7rem !important;
  }
  main {
    height: 100%;
    width: 100%;
  }
  .section {
    display: flex;
    flex-direction: row;
  }
  .imagenesProd {
    display: flex;
    flex-direction: row;
  }
  .card {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
